<p>Heavy Pattern Details for {{ .HeavyPatternID }}</p>
<table id="callDetails">
    <tr>
        <td>Simple</td>
        <td>
            <img src="/images/{{ .PlotPath }}_simple.png" width="1200" height="900">
        </td>
    </tr>
    <tr>
        <td>Linear Viridis</td>
        <td>
            <img src="/images/{{ .PlotPath }}_linear_viridis.png" width="1200" height="900">
        </td>
    </tr>
    <tr>
        <td>Linear</td>
        <td>
            <img src="/images/{{ .PlotPath }}_linear.png" width="1200" height="900">
        </td>
    </tr>
    <tr>
        <td>
            Linear2
        </td>
        <td>
            <img src="/images/{{ .PlotPath }}_linear2.png" width="1200" height="900">
        </td>
    </tr>
    <tr>
        <td>
            Logarithm
        </td>
        <td>
            <img src="/images/{{ .PlotPath }}_logarithm.png" width="1200" height="900">
        </td>
    </tr>
    <tr>
        <td>
            Quadratic
        </td>
        <td>
            <img src="/images/{{ .PlotPath }}_quadratic.png" width="1200" height="900">
        </td>
    </tr>
</table>