# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# The profiles the tool generates
profile_alltoallv.*.md
recv-counters*.txt
send-counters*.txt
tools/cmd/recvprofiler/recvprofiler
tools/cmd/analyzetimings/analyzetimings
tools/cmd/convert/convert
tools/cmd/extracttimings/extracttimings
tools/cmd/analyzebacktraces/analyzebacktraces
tools/cmd/getcalldata/getcalldata
tools/cmd/getbins/getbins
tools/cmd/sendprofiler/sendprofiler
tools/cmd/srcountsanalyzer/srcountsanalyzer
tools/cmd/map/map
tools/cmd/getcounters/getcounters
tools/cmd/profile/profile
tools/cmd/webui/webui
tools/cmd/validate/validate
alltoall/compress_array_test
alltoall/grouping_test
alltoall/patterns_detection_test
alltoallv/compress_array_test
alltoallv/grouping_test
alltoallv/patterns_detection_test
alltoallv/callgraphs/*

